<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cute.farmerapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TypeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FarmerRegisterActivity" />
        <activity android:name=".BuyerHome" />
        <activity
            android:name=".FarmerProduct"
            android:label="@string/title_activity_farmer_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WelcomeFarmer" />
        <activity android:name=".AddProduct" />
        <activity android:name=".ViewProduct" />
        <activity android:name=".IntroductionActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".ProductClickActivity"></activity>
    </application>

</manifest>
